*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .2s ease-in-out;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}



#menu {
    float: center;
}

#menu li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    font-family: Bitter;
}

#menu a {
    color: #111;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    display: block;
    line-height: 40px;
}

#menu a:hover {
    color: #111;
}
